

<h3>Listing Books</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="140px">Book</th>
      <th width="250px"></th>
      <th width="120px">評価</th>
      <th width="70px">価格</th>
      <!--<th>Description</th>-->
      <th>出版社</th>
      <th width="80px">カテゴリ</th>
      <th colspan="1"></th>
      
      
    </tr>
  </thead>

  <tbody>  	
   
      <tr th:each="book : ${books}">
      	 <td th:text="${book.bookName}"></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>
      	 <td></td>      	
      	 <td></td>
      	 <td><a th:href="@{/show(id=${book.bookId})}" >詳細</a></td>
      </tr>
       
  </tbody>
</table>



<!-- <% if @is_admin_mode then  %>
    <%= link_to 'New Book', new_book_path %>
<% end %> -->
